[include]
	path = .gitconfig.local
[user]
	name = Tim Sugar 
	email = timothysugar@gmail.com
[alias]
	s = status
	aa = add --all
	c = commit -m
	ca = commit -am
	l = log --oneline --graph --all --decorate
[pull]
	rebase = true
[core]
	safecrlf = false
